div.cards
  each card in cardsPlayed
    div.card
      h1 #{card.title}
      h2 #{card.url}
      if card == lastCard
        div.buttons
          form(method='post', action='/higher')
            input(type='submit', value='Higher!')
          form(method='post', action='/lower')
            input(type='submit', value='Lower!')
      else
        div.cost
          span.value &pound;#{card.formatted_cost}
          span.desc cost for 10/11
          span.clear
div.actions
  div.wrap
    if message
      div.message(class=message.class)= message.text
    end
    div.score Score: #{score}
    form(method='post', action='/restart')
      input(type='submit', value='Restart')
    div.info
      a(href='http://data.gov.uk/dataset/central-government-websites-2010-11') Data source
      &nbsp;&bull;&nbsp;
      a(href='https://github.com/JordanHatch/play-your-cards-right') Code
      &nbsp;&bull; Built by&nbsp;
      a(href='http://jordanh.net/') Jordan
script(type='text/javascript')
  window.scroll(0,100000000000);